<footer> 
    <div class="container-fluid" id="footer-container">
        <div class="row" id="smed-row">
            <div class="col fwtext">
                <h4>¡Síguenos!</h4>
            </div>
            <div class="col">
                <span></span>
            </div>
            <div class="col rs-ico">
                <a href="https://www.facebook.com" target="_blank">
                    <i class="bi bi-facebook h5"></i>
                </a>                        
            </div>
            <div class="col rs-ico">
                <a href="https://www.youtube.com" target="_blank">
                    <i class="bi bi-youtube h5"></i>
                </a>
            </div>
            <div class="col rs-ico">
                <a href="https://www.instagram.com" target="_blank">
                    <i class="bi bi-instagram h5"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="footer-sep">
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-title text-center">
                <h3 id="need-assist-title">¿Necesitas asistencia?</h3>
            </div>
            <div class="col-md footer-title text-center">
                <h3 id="about-us-title">Sobre nosotros</h3>
            </div>
            <div class="col-md footer-title text-center">
                <h3 id="our-com-title">Nuestra comunidad</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md footer-choice text-right">
                <a href="contact">Contáctanos</a>
            </div>
            <div class="col-md footer-choice text-right">
                <a href="">¿Quiénes somos?</a>
            </div>
            <div class="col-md footer-choice text-right">
                <a href="">Nuestras Redes Sociales</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-choice text-right">
                <br>
                <p>Asistencia Telefónica: +56 9 1234 5678</p>
            </div>
            <div class="col-md footer-choice text-right">
                <a href="">Nuestras Tiendas</a>
            </div>
            <div class="col-md footer-choice text-right">
                <a href="">Eventos</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-choice text-right">
                <p>Correo Electrónico: contacto@microlec.cl</p>
            </div>
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-choice text-right">
                <p>Av. Brasil 2021, Valparaíso, Región de Valparaíso</p>
            </div>
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
            <div class="col-md footer-choice text-right">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="footer-sep">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="com-info">Microlec SPA</p>
                <p class="com-info"><i class="bi bi-c-circle"></i> TODOS LOS DERECHOS RESERVADOS</p>
            </div>
        </div>
    </div>
</footer>